# Do not add files folder
/files
/venv
/external
/.idea/
/python/venv

# Terraform
*.terraform
terraform.tfstate
.terraform.lock.hcl
terraform.tfstate.backup

# Python
__pycache__

# secret variables
.env.prod
.env
*.tfvars
